{
  "openapi": "3.0.0",
  "info": {
    "title": "Honolife API",
    "description": "Personal API built with Hono for Cloudflare Workers",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.skiddle.id",
      "description": "Production server"
    }
  ],
  "paths": {
    "/profile": {
      "get": {
        "summary": "Get basic profile information",
        "description": "Returns basic profile information including name, roles, current location, and current job",
        "responses": {
          "200": {
            "description": "Profile information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/profile/experience": {
      "get": {
        "summary": "Get work experience history",
        "description": "Returns complete work history, sorted from newest to oldest",
        "responses": {
          "200": {
            "description": "Work experience list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "experiences": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Experience"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of experiences"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/jobs": {
      "get": {
        "summary": "Get current job positions",
        "description": "Returns current active job positions",
        "responses": {
          "200": {
            "description": "Current jobs list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of current jobs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/location": {
      "get": {
        "summary": "Get current location",
        "responses": {
          "200": {
            "description": "Location information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/skills": {
      "get": {
        "summary": "Get all skills by category",
        "responses": {
          "200": {
            "description": "Skills list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SkillCategory"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Get all projects",
        "responses": {
          "200": {
            "description": "Projects list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "featured": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "featuredCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spotify/now-playing": {
      "get": {
        "summary": "Get currently playing track",
        "responses": {
          "200": {
            "description": "Currently playing track",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Track"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Profile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Laurensius Jeffrey Chandra"
          },
          "nickname": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["Jeff", "Skiddle"]
          },
          "role": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["Software Engineer", "Open Source Contributor"]
          },
          "currentJobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                }
              }
            }
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "currentStatus": {
            "type": "string"
          }
        }
      },
      "Experience": {
        "type": "object",
        "properties": {
          "company": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["full-time", "part-time", "self-employed"]
          },
          "location": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "technologies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "company": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["full-time", "part-time", "self-employed"]
          },
          "location": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "technologies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "SkillCategory": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Skill"
            }
          }
        }
      },
      "Skill": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "level": {
            "type": "string",
            "enum": ["beginner", "intermediate", "advanced", "expert"]
          },
          "yearsOfExperience": {
            "type": "number"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "longDescription": {
            "type": "string"
          },
          "technologies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "github": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "in-progress", "planned"]
          },
          "featured": {
            "type": "boolean"
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "isPlaying": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "artist": {
            "type": "string"
          },
          "album": {
            "type": "string"
          },
          "albumArt": {
            "type": "string"
          },
          "spotifyUrl": {
            "type": "string"
          },
          "progress": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          }
        }
      }
    }
  }
}
